<div class="ui container">
  <form class="ui fluid form">
    <div class="field">
      <label> Last name </label>
      <input type="text" placeholder="Last name">
    </div>
    <div class="ui divider"></div>
    <div class="field">
      <label> First name </label>
      <input type="text" placeholder="first name">
    </div>
    <div class="ui divider"></div>
    <div class="field">
      <label> Mail </label>
      <input type="text" placeholder="mail">
    </div>
    <div class="ui divider"></div>
    <div class="field">
      <label> Birthday </label>
      <input type="text" placeholder="Birthday">
    </div>
    <div class="ui divider"></div>
    <div class="field">
      <label> Gender </label>
      <input type="text" placeholder="Gender">
    </div>
  </form>
</div>
