<div class="ui three column grid">
  <div class="two wide column">
      <div class="ui container">
        <div class="ui yellow circular label">
          {{currentUser.lastName}}
          {{currentUser.firstName}}
        </div>
      </div>
      <div class="ui divided selection list">
      <div class="item">
        <div class="ui label">
          <a class="detail" (click)="displayProfile()">Display profile</a>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <div class="ui container adding">
      <div class="ui segment">
        <div class="ui form">
          <div class="field">
            <textarea rows="2" placeholder="Write a post..." [(ngModel)]="content"></textarea>
          </div>
          <div class="ui one column grid">
            <div class="ui right aligned column">
              <button class="ui primary button" (click)="addPost()" [disabled]="content == undefined"> Add </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui container listing">
      <div class="ui list" *ngFor="let post of posts">
        <div class="item">
          <app-post [post]="post.post" [canDelete]="true"></app-post>
        </div>
      </div>
    </div>
  </div>
  <div class="two wide column">
    <p>
      ici les amis connectes
    </p>
  </div>
</div>
