<link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/modal.css" rel="stylesheet">
<div class="ui center aligned three column grid">
  <div class="two wide column profile">
    <div class="ui card">
      <div class="image">
        <img src="../../assets/matthew.png">
      </div>
      <div class="content">
        <div class="header">{{currentUser.lastName}} {{currentUser.firstName}}</div>
        <div class="meta">
          <a (click)="displayProfile()">Profile</a>
        </div>
        <div class="description">
          Matthew is an interior designer living in New York.
        </div>
      </div>
      <div class="extra content">
        <p>
          Joined {{currentUser.dateRegister}}
        </p>
        <p>
          <i class="user icon"></i>
          {{friends.length}} Friends
        </p>
      </div>
    </div>
    <div class="ui card">
      <div class="content">
        <div class="meta">
          <a (click)="show = true"> Invitation
            <div class="floating ui red label" >{{waitingFriendship}}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="left aligned eleven wide column">
    <sui-dimmer class="inverted" [(isDimmed)]="loading">
      <div class="ui text loader">Loading</div>
    </sui-dimmer>
    <a (click)="getPosts()"><i class="sync icon"></i></a>
    <div class="ui container adding">
      <div class="ui segment">
        <div class="ui form">
          <div class="field">
            <textarea rows="2" placeholder="Write a post..." [(ngModel)]="content"></textarea>
          </div>
          <div class="ui one column grid">
            <div class="ui right aligned column">
              <button class="ui primary button" (click)="addPost()" [disabled]="content == undefined"> Add </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui container">
      <div class="ui list" *ngFor="let post of posts">
        <div class="item">
          <app-post [post]="post.post" [canDelete]="true"></app-post>
        </div>
      </div>
    </div>
  </div>

  <div class="two wide column">
      <p>
        ici les amis connectes
      </p>
  </div>
</div>

<div style="text-align:center">
  <sui-modal *ngIf="show" [isClosable]="false" (dismissed)="show = false" #modal>
    <div class="header">Invitations</div>
    <div class="content">
      <div class="ui list" *ngFor="let friendship of waitingFriendshipList">
        <div class="item">
          <app-invitation [friendShip]="friendship"></app-invitation>
        </div>
      </div>
      <span *ngIf="waitingFriendshipList.length == 0"> You have no invitations for the moment ! </span>
    </div>
    <div class="actions">
        <!-- <button class="ui red button" (click)="modal.deny()">Cancel</button> -->
        <button class="ui green button" (click)="modal.approve()" autofocus>Close</button>
    </div>
  </sui-modal>
</div>
