.adding {
  padding-bottom: 1rem;
}

.separator {
  overflow:auto;
  border-left: 2px solid #e5e5e5;
  max-width: 1px;
  transform: scaleY(100);
}

.liste-friends {
  text-align: left;
  font-size: 8px;
  min-width: 80px;
}

.profile {
  margin-left: 10px;
  text-align: left;
}

.action {
 padding-bottom: 1rem;
}

.center {
  top: 50%;
  left: 50%;
}

input[type="file"] {
    display: none;
}
// .friends {
//   max-width: 80px;
//   margin-right: -10%;
// }
