<div class="ui container" id="signInForm">
  <h1> Create an account
    <h2> It's free ! </h2>
  </h1>

  <form class="ui form" [formGroup]="signInForm" (ngSubmit)="createAccount()">

    <div class="ui negative message" *ngIf="signInForm.controls['birthday'].errors.isUnder13">
      <div class="header">
        We're sorry but you're too young !
      </div>
      <p>The minimun age is 13.</p>
    </div>

    <div class="two fields">
      <div class="field">
        <label> Last name </label>
        <input type="text" placeholder="Last name..." formControlName="lastName">
        <div class="ui pointing red basic label" *ngIf="signInForm.controls['lastName'].touched && signInForm.controls['lastName'].errors">
          <span *ngIf="signInForm.controls['lastName'].errors.required ">Your last name is required !</span>
        </div>
      </div>
      <div class="field">
        <label> First name </label>
        <input type="text" placeholder="First name..." formControlName="firstName">
        <div class="ui pointing red basic label" *ngIf="signInForm.controls['firstName'].touched && signInForm.controls['firstName'].errors">
          <span *ngIf="signInForm.controls['firstName'].errors.required ">Your first name is required !</span>
        </div>
      </div>
    </div>
    <div class="field">
      <label> Mail </label>
      <input type="text" placeholder="Mail..." formControlName="mail">
      <div class="ui pointing red basic label" *ngIf="signInForm.controls['mail'].touched && signInForm.controls['mail'].errors">
        <span *ngIf="signInForm.controls['mail'].errors.required ">Your mail is required !</span>
        <span *ngIf="signInForm.controls['mail'].errors.pattern ">Your mail is invalid !</span>
      </div>
    </div>
    <div class="field">
      <label> Password </label>
      <input type="password" placeholder="Password..." formControlName="password">
      <div class="ui pointing red basic label" *ngIf="signInForm.controls['password'].touched && signInForm.controls['password'].errors">
        <span *ngIf="signInForm.controls['password'].errors.required ">Your password is required !</span>
        <span *ngIf="signInForm.controls['password'].errors.minlength ">Your password must be between 8 and 12 characters!</span>
        <span *ngIf="signInForm.controls['password'].errors.maxlength ">Your password must be between 8 and 12 characters!</span>
      </div>
    </div>
    <div class="field">
      <label> Birthday </label>
      <div class="ui left icon input">
          <i class="calendar icon"></i>
          <input suiDatepicker
                 formControlName="birthday"
                 pickerMode="date"
                 pickerUseNativeOnMobile="false"
                 [pickerMaxDate]="dateOfDay"
                 placeholder="Birthday...">
      </div>
      <div class="ui pointing red basic label" *ngIf="signInForm.controls['birthday'].touched && signInForm.controls['birthday'].errors.required">
        <span *ngIf="signInForm.controls['birthday'].errors.required">Your birthday is required !</span>
      </div>
    </div>
    <div class="field">
      <label> Gender </label>
      <input type="text" placeholder="Gender..." formControlName="gender">
      <div class="ui pointing red basic label" *ngIf="signInForm.controls['gender'].touched && signInForm.controls['gender'].errors">
        <span *ngIf="signInForm.controls['gender'].errors.required ">Your gender is required !</span>
      </div>
    </div>
    <button type="submit" class="ui blue right floated button" [disabled]="signInForm.invalid"> Create my account ! </button>
  </form>
</div>
