<div class="ui container">
  <form class="ui form">
    <div class="field">
      <label> Last name </label>
      <input type="text" placeholder="Last name" [(ngModel)]="currentUser.lastName" name="lastName">
    </div>
    <div class="ui divider"></div>
    <div class="field">
      <label> First name </label>
      <input type="text" placeholder="first name" [(ngModel)]="currentUser.firstName" name="firstName">
    </div>
    <div class="ui divider"></div>
    <div class="field">
      <label> Mail </label>
      <input type="text" placeholder="mail" [(ngModel)]="currentUser.mail" name="mail">
    </div>
    <!-- <div class="ui divider"></div>
    <div class="field">
      <label> Password </label>
      <input type="password" placeholder="password" [(ngModel)]="currentUser.password" name="password">
    </div> -->
    <!-- <div class="ui divider"></div> -->
    <!-- <div class="field">
      <label> Birthday </label>
      <div class="ui left icon input">
          <i class="calendar icon"></i>
          <input suiDatepicker
                 [(ngModel)]="birthday"
                 name="birthday"
                 pickerMode="date"
                 pickerUseNativeOnMobile="false"
                 placeholder="Birthday...">
      </div>
      <input type="text" placeholder="Birthday" [(ngModel)]="birthday" name="birthday">
    </div> -->
    <!-- <div class="ui divider"></div>
    <div class="field">
      <label> Gender </label>
      <input type="text" placeholder="Gender" [(ngModel)]="currentUser.gender" name="gender">
    </div> -->
    <div>
      <button class="ui left floated red primary button" (click)="goHome()"> Go Home </button>
      <button class="ui right floated red primary button" (click)="save()"> Save </button>
    </div>
  </form>
</div>
