<body>
  <div class="ui padded middle aligned center aligned container">
  <h1> Connect to BookFace </h1>
    <form class="ui form" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="ui  segment">
        <div class="field">
          <div class="ui left aligned container">
            <label> Mail </label>
          </div>
          <input type="text" placeholder="Mail..." formControlName="mail">
        </div>
        <div class="field">
          <div class="ui left aligned container">
            <label> Password </label>
          </div>
          <input type="password" placeholder="Password..." formControlName="password">
        </div>
        <div class="ui text container">
          <button type="submit" class="ui primary middle aligned button" > Login </button>
        </div>
      </div>
    </form>
  </div>
</body>
