<div class="ui container">
  <div class="ui segment">
    <a *ngIf="canDelete"><i class="red close icon" (click)="delete()"></i></a>
    <label class="ui grey top right attached label"> {{post.date}} </label>
    <p> {{post.content}} </p>
    <div class="ui two column padded grid">
      <div class="left aligned column">
        <p class="ui image green label" *ngIf="post.like.length >= 0">
          <fa name="thumbs-up" size="2x"></fa>
          {{post.like.length}}
        </p>
      </div>
      <div class="right aligned column">
        <button class="ui green button" (click)="like()" [disabled]="disabledLike()"> Love it ! </button>
      </div>
    </div>
  </div>
</div>
