<div class="ui container">
  <div class="ui segment">
    <!-- <h2 class="ui blue left ribbon label"> {{post.title}} </h2> -->
    <label class="ui grey top right attached label"> {{post.date}} </label>
    <p> {{post.content}} </p>
    <div class="ui two column padded grid">
      <div class="left aligned column">
        <p class="ui image green label" *ngIf="post.like >= 0">
          <fa name="thumbs-up" size="2x"></fa>
          {{post.like}}
        </p>
      </div>
      <div class="right aligned column">
        <button class="ui green button" (click)="like()"> Love it ! </button>
        <!-- <button class="ui red button" (click)="dontLove()"> Don't love it ! </button> -->
      </div>
    </div>
  </div>
</div>
