<div class="ui center aligned two column grid">
  <div class="two wide column">
    <div class="ui container">
      <div class="ui yellow circular label">
        {{currentPeople}}
      </div>
      <div class="ui divided selection list"></div>
      <div class="ui container">
        <button class="ui primary button" (click)="askToBefriends()" [disabled]="!canAdd"> Ask to be friends ! </button>
      </div>

    </div>
  </div>
  <div class="centered column">
    <div class="ui container listing">
      <div class="ui list" *ngFor="let post of posts">
        <div class="item">
          <app-post [post]="post.post" [canDelete]="false"></app-post>
        </div>
      </div>
      <div class="ui text container" *ngIf="posts.length==0">
        <p> No posts for moment !</p>
      </div>
    </div>
  </div>
</div>

<div class="ui one column grid">
  <div class="ui right aligned column">
    <button class="ui primary button" (click)="goHome()"> Home ! </button>
  </div>
</div>
