<div class="ui red inverted secondary pointing menu">
  <div class="left menu">
    <div class="item">
      <i class="users icon"></i>
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>

  <div class="right menu">
    <div class=" item">
      <div class="ui input">
        <input type="text" placeholder="Mail...">
      </div>
    </div>
    <div class=" item">
      <div class="ui input">
        <input type="text" placeholder="Password...">
      </div>
    </div>
    <div class="item">
      <button class="ui inverted button"> Login </button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div class="ui red inverted secondary footer segment">
  <p> Designed with : </p>
  <div class="ui three column grid">
    <div class=" column">
      <img class="ui centered image" src="./../favicon.ico">
    </div>
    <div class=" column">
      <img class="ui centered image" src="./../favicon.ico">
    </div>
    <div class=" column">
      <img class="ui centered image" src="./../favicon.ico">
    </div>
  </div>
</div>
