<div class="ui red inverted secondary pointing menu">
  <div class="left menu">
    <div class="item" *ngIf="true">
      <h1 class="item header"> BookFace </h1>
    </div>
    <div class="item" *ngIf="false">
      <i class="users icon"></i>
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>

  <div class="right menu">
    <div class="item">
        <form class="ui form" [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="three fields">
            <div class="field">
              <input type="text" placeholder="Mail..." formControlName="mail">
              <!-- <div class="ui pointing red basic label" *ngIf="loginForm.controls['mail'].touched && loginForm.controls['mail'].errors">
                <span *ngIf="loginForm.controls['mail'].errors.required ">Your mail is required !</span>
              </div> -->
            </div>
            <div class="field">
              <input type="password" placeholder="Password..." formControlName="password">
              <!-- <div class="ui pointing red basic label" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors">
                <span *ngIf="loginForm.controls['password'].errors.required ">Your password is required !</span>
              </div> -->
            </div>
            <div class="field">
            <button type="submit" class="ui inverted button" [disabled]="loginForm.invalid"> Login </button>
            </div>
            </div>
        </form>
    </div>
  </div>
</div>
