<div class="ui red inverted secondary menu">
  <div class="left menu">
    <div class="item" *ngIf="true">
      <h4 class="item header"> BookFace </h4>
    </div>
    <div class="item" *ngIf="false">
      <i class="users icon"></i>
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>

  <div class="menu center" *ngIf="auth">
    <div class="center2" result>
      <sui-search placeholder="Example Search..."
      hasIcon="true"
      [options]="options"
      optionsField="title"
      [searchDelay]="delay"
      retainSelectedResult="false"
      (resultSelected)="redirectToPeopleDetail($event)"></sui-search>
    </div>
  </div>

  <div class="right menu">
    <div class="item" *ngIf="!auth">
      <form class="ui form" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="three fields">
          <div class="field">
            <input type="text" placeholder="Mail..." formControlName="mail">
          </div>
          <div class="field">
            <input type="password" placeholder="Password..." formControlName="password">
          </div>
          <div class="field">
            <button type="submit" class="ui inverted button" [disabled]="loginForm.invalid"> Login </button>
          </div>
        </div>
      </form>
    </div>
    <div class="item" *ngIf="auth">
      <div class="ui two column grid">
        <div class="column">
          <span> Welcome back {{user.firstName }} ! </span>
        </div>
        <div class="column">
          <button class="ui inverted button" (click)="logout()"> Logout </button>
        </div>
      </div>
    </div>
  </div>
</div>
